* {
    font-family: cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    transition: all .2s linear;
    text-transform: capitalize;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}

.container {
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 3rem 2rem;

}

.container h1 {
    font-size: 40px;
    display: inline-block;
    color: #E8ABB5;
}

.container span {
    color: #DFC2C3;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 2fr ));
    gap: 2rem;
    margin-top: 2%;

}

.product-container .product {
    text-align: center;
    padding: 3rem 2rem;
    background: #F5E8F7;
    box-shadow: 0.5rem 0.8rem rgba(0, 0, 0,.1);
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
}

.product-container .product:hover {
    box-shadow: 0.5rem 1rem rgba(84, 78, 78, 0.1);
    outline: .1rem solid #222;
    outline-offset: 0;
}

.product :hover {
    opacity: 0.5;
}

.product-container img {
    height: 25rem;
}

.product-container .product:hover img {
    transform: scale(.9);
}

.product-container .product h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: #A37E7E;
}

.product-container .product:hover h3 {
    color: #76504F;
}

.products-preview {
    position: fixed;
    top: 0; left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(47, 46, 46, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
}

.products-preview .preview {
    display: none;
    padding: 2rem;
    text-align: center;
    background: #FFFAF6;
    position: relative;
    margin: 2rem;
    width: 40rem;
}

.products-preview .preview.active {
    display: inline-block;
}

.products-preview .preview img{
    height: 30rem;
}

.products-preview .preview img:hover{
    opacity: 0.5;
}

.products-preview .preview .fa-times {
    position: absolute;
    top: 0.7rem; right: 1rem;
    cursor: pointer;
    color: #444;
    font-size: 2.5rem;
}

.products-preview .preview .fa-times:hover {
    transform: rotate(90deg);
}

.products-preview .preview h3 {
    color: #444;
    padding: 5rem 0;
    font-size: 2.5rem;
}

.products-preview .preview {
    color: #444;
    line-height: 1.6;
    padding: 2rem 0;
    font-size: 1.6rem;
}

.b {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

    

}

button {
    margin-right: auto;
    background: rgba(255, 247, 247, 0.686);
    padding: 10px;
    border-radius: 8%;
    cursor: pointer;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
    border: 0;
    margin: -20px -50px; 
    position:relative;
    left:50%;
    
     
    
}


button:hover {
    opacity: 0.5;
}